/*-----------------------------------------------
|   Theme Styles
-----------------------------------------------*/
:root,
[data-bs-theme=light] {
    --falcon-primary: #01fb92;
    --falcon-primary-rgb: 0, 210, 122;
    /*...*/
    /*...*/
    /*...*/
        /* grays */
    --falcon-gray-100:  #f9fafd;
    --falcon-gray-100-rgb: 249, 250, 253;

    .card{
        --falcon-card-bg: #fcfdfd;
    }
}


[data-bs-theme=dark]{
    --falcon-primary:  #e63757;
    --falcon-primary-rgb: 230, 55, 87;

    .card{
        --falcon-card-bg: #00d27a;
    }
}